/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    padding: 5px;
}

header{
    text-align: right;   
    background-color: white;
    font-size: 18px;
    padding:10px;
}


header .container{
    grid-template-columns: 50% 50%;
}


h1 {
    /*display: inline;*/
    text-align: left;  
    font-size: 18px;
}

header a{
    color: #6b7280;
}

li{
    display: inline;
    text-align: right;
    padding: 10px;
}

ul{
  display: inline;
}

li:hover a{
    color: #5A67D8
}

.overview-hero{
    grid-template-columns: 50% 50%;
    display: inline;
    padding: 20px;
   
}


.overview-hero-text{
    padding: 30px;
    background-color: #e2e8f0;
}

.overview-hero-image{
    padding: 30px;
    float: left;
}

.learn-about{
    text-align: left;
    padding: 5px;
}



img{
    float: left;
    width: 200px;
    padding: 20px;
}

img .container{
    border-radius: 50%;
}

.cards{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    text-align: center;
    clear: both;
    gap: 10px;
    padding: 20px;
    
}

.card{
    clear: both;
    padding: 5px;
    display:grid;
    border: 2px solid #e2e8f0;
    border-radius: 5px;
    box-shadow: 3px 5px #e2e8f0;  
}

.card h3{
  color: #48BB78;
  font-size: 21px;
}


.testing{
    margin: 0 auto;
    max-width: 960px;
    width: 90%;
    background-color: #4a5568;
    padding: 20px;
    color: white;
}


.btn{
    display: inline-block;
    background-color: #48bb78;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;

}

.cta{
    text-align: right;
}

.stories{
    grid-template-columns: 50% 50%;
    display: inline;
    padding: 20px;
}

.article-body{
    text-align: left;
    padding: 20px;
}

.newsletter{
    text-align: center;
}

.form-group{
    display: inline;
    grid-template-columns: 50% 50%;
}

.learn-about h2{
    font-size: 24px;
    color: #48bb78;  
}

.stories h3{
  font-size: 18px;
}

.stories h2, a{
  color: #5A67D8;
}

h3{
    font-size: 21px;
    
}

.newsletter{
    background-color: #48bb78;
    color: white;
}

.newsletter .form-group input[type="email"]{
  padding: 10px;
  border-radius: 5px;
}
  
.testing .container{
  display: grid;
  grid-template-columns:  auto;
}

.testing .btn{
  white-space: nowrap;
  
}

.newsletter .btn{
  padding: 10px;
  background-color: #5a67d8;
  border-radius: 5px;
  font-size: 18px;
}


#email{
    font-size: 18px;
}

.rounded{
    border-radius: 50%;

}

footer{
    background-color: #4a5568;
    color: white;
}


